body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }


h1{
  font-family: 'Times New Roman', Times, serif;
  padding-top: 5px;
  
}
/* BORDES */
.hoja {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
  }
  .borde {
    background-color:#6363639e;
    overflow: hidden;
    padding-bottom: 7%;
  }



/* MENU */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1px;
  }

  ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

  .ultima_no {
    color: white;
    background-color:#b80707;
    text-align: center;
    padding: 10px;
  }
  .marca {
  color: white;
    background-color:#b80707;
    text-align: center;
    text-decoration: none;

  }
/* DESTACADOS */
.Destacados_tablas {
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.Destacadospri{
    width: 50%;
  }
        .Destacadospriimg{
        width: 90%; 
        padding-top: 2%;
        height: 100%;
        }  

.Destacadosseg{
        
  
    }
        .Destacadossegimg{
        float: left;
        width: 55%;
        padding: 2%;
        border-radius: 10%;
        }

        .Destacadossegti1{
    
        }

        .Destacadossegti2{
   
        }

 
/* RECOMENDADAS Y MAS NOTICIAS */
.recomendadas{
    width: 100%;
    
}
.recomendadaimg{
    width: 90%;
    padding-top: 2%;
    

}

.recomendadatit{
   
   
}

.recomendadades{
   
}



.mas_noticias{
    width: 100%; 
}
.noticiasimg{
    width: 97%;
    padding-top: 2%;

}

.noticiastit{
    
    font-size: medium;
}

.noticiasdes{
  font-weight: bold;
   font-size: small;
}

.thmas_noticia{
width: 33%;
}

/* TABLAS */

table{
  width: 100%;
}
/* IMAGENES */
img{
    border-radius: 5%;
}


/*ENCABEZADO*/
h2 {
    padding: 0px;
    margin: 0px;
    padding-top: 20px;
    padding-left: 10px;
  }



/* PIE DE PAGINA*/
.pie{
  margin-top: 100px;
 
 
}

hr{
  border-color:rgb(0, 0, 0);
}

/*1ºNoticia*/
.notiimg1{
  width: 50%;
  border-radius: 0%;
}
a {
  text-decoration: none;
  color: black;
}
.botondiv1{
  display: inline-block;
  margin-top: 3%;
  margin-left:35%;
  padding: 10px 20px;
  text-align: center;
  background-color: #db3434;
  border-radius: 5px;
}
#botontext{
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}
.botondiv:hover {
  background-color: #b93029;
    }
.botondiv1:hover {
  background-color: #b93029;
    }
    .botondiv {
      display: inline-block;
      margin-left: 10%;
      margin-top: 3%;
      padding: 10px 20px;
      text-align: center;
      background-color: #db3434;
      border-radius: 5px;
      }

      tr th:hover {
        background-color: gray;
      }

      tr td:hover {
        background-color: gray;
      }
      #Footer{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
        margin-top:5%;
        background-color: #afafaf;
        width: 80%;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
      }
      .thfooter{
        padding-left: 5%;
        padding-top: 1%;
        padding-bottom: 1%;
      }
      .IconsFooter{
        width: 12%;
        padding-right: 5%;
      }
      .IconsFF{
        width: 12%;
        padding-left:20%;
        padding-right:5%;
      }

      #Footer:hover{
        background-color: #afafaf;
      }
      .thfooter:hover{
        background-color: #afafaf;
      }
      











  